/* Estilo geral */
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #e0e0e0;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Barra de navegação superior */
.window-bar {
    background-color: #0b0e59;
    color: #adadb1;
    font-size: 0.7rem;
    line-height: 1.8;
    padding: 8px;
    padding-left: 30px;
    padding-top: 10px;
    border-bottom: 3px solid #adadb1;
}

/* Seção principal */
.main-container {
    margin: 40px auto;
    padding: 20px 80px;
}

/* Títulos e texto */
h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-left: 100px;
}

.title-line {
    font-size: 1.5rem;
    line-height: 0.5;
    margin-left: 100px;
}


.description {
    margin-top: 10px;
    font-size: 0.9rem;
    margin-bottom: 5px;
    line-height: 0.8;
    margin-left: 100px;
}

/* Divisor */
.divider {
    height: 4px;
    background-color: #000;
    margin-top: 60px;
}

/* Quick Links */
.quick-links {
    font-size: 0.8rem;
    margin: -20px 0;
    padding: 5px;
    text-align: center;
    background-color: #0b0e59;
    color: #adadb1;
    width: 900px;
    justify-self: center;
    border-radius: 5px;
    border: 4px solid #000;
}

.quick-links span {
    padding: 8px;
    margin-right: 70px;
    justify-self: center;
    justify-content: space-around;
}

/* jogo */
.game-container {
    background-color: #adadb1;
    border: 2px dashed #0b0e59;
    padding: 15px;
    margin: 40px 0;
    width: 900px;
    justify-items: center;
    justify-self: center;
}

/* Seção de widgets */
.widget-section {
    margin-top: 50px;
}

.widget-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.widget {
    background-color: #fff;
    border: 3px solid #000;
    padding: 20px;
    margin-bottom: 30px;
}

.widget h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.widget ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

.widget li {
    padding: 5px 0;
    font-size: 0.8rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
}